body {
  font-family: Arial, sans-serif;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
  position: relative;
  background-image: url('img/mySelfie.jpeg');
  background-size: cover;
  background-position: center;
  color: white; /* Adjust text color for better readability */
  min-height: 80vh;
  margin: 0;
}

.tabcontent h2, .tabcontent ul, .tabcontent p {
  position: relative;
  z-index: 1;
}

.tabcontent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay for better text readability */
  z-index: 0;
}
